---
title: "Contact Us | Tomic Painting"
description: "Get in touch with Tomic Painting for help with your next project."
permalink: "contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Contact</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/stairway-m.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/stairway.png">
        <img loading="lazy" decoding="async" src="/assets/images/stairway.png" alt="stairway painting" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

{% include 'sections/contact.html' %}
                                
                                
                                
                                
                                
                                
                                
    
{% endblock %}
